{% if site.show_jobs %}
<h1 class="title"><span>{{site.jobs_title}}</span></h1>
  <div>
  {% for experience in site.data.experience %}
    <div class="project neumorphism-card" data-aos="zoom-in-down">
      <div class="name-link-wrapper">
        <h3 id="{{experience.jumpid}}">{{experience.name}}</h3>
      </div>
      <p class="project-desc">{{experience.descr}}</p>
      {% if experience.demo %}
        <a class="highlight-link" href="{{experience.demo}}" target="_blank" rel="noreferrer">
          Demo
        </a>
      {% endif %}
      {% if experience.tags %}
        <div class="tag-wrapper">
          {% for tag in experience.tags %}
            <span class="tag neumorphism-card">{{tag.tag}}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endif %}