
{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>
  <div class="projects-wrapper">
    {% for presentation in site.data.projects %}
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{presentation.name}}</h3>
        </div>
        <p class="project-desc">{{presentation.descr}}</p>
        {% if presentation.demo %}
          <a class="highlight-link" href="{{presentation.demo}}" target="_blank" rel="noreferrer">
            Demo
          </a>
        {% endif %}
        {% if presentation.tags %}
          <div class="tag-wrapper">
            {% for tag in presentation.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}